$enable-responsive-font-sizes: true;

$primary: #4b8d8f;
$secondary: #d9c2bb;
$success: #69b770;
$info: cyan;
$warning: #fbea4f;
$danger: #be6e7b;
$light: rgb(255, 255, 255);
$dark: #2f2f2f;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$enable-responsive-font-sizes: true;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;
